@{
    ViewBag.Title = "Index";
    Layout = "_LayoutEmpty";
}

<div class="container">
    <div class="header">
        <h2>Index</h2>
    </div>

    <div class="main">
        <ul id="menu">
            <!-- link a UtenteController.Index() -->
            <li>@Html.ActionLink("Lista utenti", "Index", "Utente")</li>
        </ul>
    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>