@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Nuovo Utente";
}

<script type="text/javascript" src="~/js/validation/validate.js"></script>

<div class="container">
    <div class="main">

        <h1>Registra Nuovo Utente</h1>

        <h1>
            <!-- MESSAGGIO possibile login errata -->
            @TempData["LoginMsg"]
            
        </h1>

        <div class="form">
            @using (Html.BeginForm("Create", "Utente", FormMethod.Post, new { @id = "form1" }))
            {
                <fieldset>
                    Username
                    <br />
                    <input type="text" name="user" id="user" required/>
                    <br />
                    <br />
                    Password
                    <br />
                    <input type="password" name="pass" id="pass" required/>
                    <br />
                    <br />
                    Conferma Password
                    <br />
                    <input type="password" name="pass2" id="pass2" required/>
                    <br />
                    <br />
                    <br />  
                    <input type="submit" onclick="return validatePass();" value="Registra"/>
                </fieldset>
            }
        </div>
    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>