@using School.Model
@using System.Collections.Generic

<!-- "parametro" Context.Utenti passato dalla view-->
@model IEnumerable<Utente>

@{
    ViewBag.Title = "LISTA UTENTI";
}

<div class="container">
    <div class="main">
        <h1>Lista Utenti</h1>

        <table border="1" id="utenti">
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Ruolo</th>
            </tr>

            @foreach (var s in Model)   //model parametro view
            {
                <tr>
                    <td>@s.Username</td>
                    <td>@s.Password</td>
                    <td>@s.Ruolo</td>

                    <td>
                        @using (Html.BeginForm("Update", "Utente", FormMethod.Post))
                        {
                            <fieldset>
                                <input type="text" name="user" id="user" value="@s.CdUtente" hidden/>
                                <select name="ruolo" id="ruolo">
                                    <option value="user">user</option>
                                    <option value="admin">admin</option>
                                </select>
                                <br />
                                <br />
                                <input type="submit" value="Modifica Ruolo" />
                            </fieldset>
                        }
                    </td>
                </tr>
            }
        </table>

    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>