@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="header">
        <h2>Login</h2>
    </div>

    <div class="main">
        <h2>
            <!-- MESSAGGIO possibile login errata -->
            @if(HttpContextAccessor.HttpContext.Session.GetString("LoginMsg") != null)
            {
                @HttpContextAccessor.HttpContext.Session.GetString("LoginMsg")
            }
        </h2>

        @using (Html.BeginForm("Login", "Utente", FormMethod.Post))
        {
            <fieldset>
                <input type="text" name="user" id="user" /> Username <br />
                <input type="password" name="pass" id="pass" /> Password <br />

                <input type="submit" value="Log in" />
            </fieldset>
        }

        <h4>@Html.ActionLink("REGISTRA NUOVO ACCOUNT", "Create", "Utente")</h4>
    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>
