@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="main">

        <h1>Login</h1>

        <h2>
            <!-- MESSAGGIO possibile login errata -->
            @if(HttpContextAccessor.HttpContext.Session.GetString("LoginMsg") != null)
            {
                @HttpContextAccessor.HttpContext.Session.GetString("LoginMsg")
            }
        </h2>

        <div class="form">
            @using (Html.BeginForm("Login", "Utente", FormMethod.Post))
            {
                <fieldset>
                    Username
                    <br />
                    <input type="text" name="user" id="user"/>
                    <br />
                    <br />
                    Password
                    <br />
                    <input type="password" name="pass" id="pass"/>
                    <br />
                    <br />
                    <br />
                    <input type="submit" value="Log in" />

                    <br />
                    <br />
                    <br />
                    <br />
                    Oppure
                    <br />
                    <br />
                    <br />
                    <input type="button" value="REGISTRATI"
                           onclick="@("window.location.href='" + @Url.Action("Create", "Utente") + "'");" />

                </fieldset>
            }

            
        </div>
    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>
