@using School.Data
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "LISTA ORDINI";
}

@model IEnumerable<OrdiniJoinDataSource>


    <div class="container">
        <div class="main">

            <h1>Lista Ordini</h1>

            <table border="1">
                <thead>
                    <tr>
                        <th>Codice ordine</th>
                        <th>Stato</th>
                        <th>Titolo prodotto</th>
                        <th>Quantita'</th>
                        <th>Data</th>
                        <th>Totale ordine</th>
                    </tr>
                </thead>
                <tbody>

                    
            </tbody>


            </table>

            <ul>

                @foreach (var group in Model.GroupBy(item => item.CdOrdine))
                {
                    <li>
                        Ordine numero: @group.Key del .... (DATA), stato:


                        <ul>
                            @foreach (var s in group)
                            {
                                <li><b>PRODOTTO</b></li>
                                <li>@s.Titolo</li>
                                <li>@s.Quantita</li>
                                <li>@s.Totale</li>
                            }
                        </ul>
                    </li>
                }
            </ul>

        </div>

        <div class="footer">
            <h6>footer</h6>
        </div>
    </div>

