body {
    background-color: lightgrey;
    font-family:Constantia;
}

.header {
    margin-top: 20px;
    height: 50px;
    background-color: none;
}

.main {
    background-color: lightgrey;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    height: 40px;
    color: whitesmoke;
    background-color: #404040;
    width: 99%;
}

ul > li > ul a {
    color: white;
    text-align: left;
}

.big {
    border: solid 3px;
    width: 400px;
    float: left;
    margin-left: 20px;
    background-color: white;
}

h1 {
    text-align: center;
    background-color: white;
}

.big tr:nth-child(1) {
    text-align: center;
}

.big tr:nth-child(2) {
    font-weight: 700;
    text-transform: uppercase;
    font-size: x-large;
    text-align: center;
}
.linkprod:link 
{
    color:black;
}
.linkprod:visited 
{
    color: #404040;
}

.big tr:nth-child(3) {
    font-weight: 500;
    text-transform: capitalize;
    color: #404040;
    text-align: center;
}

.big tr:nth-child(4) {
    text-align: center;
}

    .big tr:nth-child(4) > td:nth-child(1) {
        width: 100px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: large;
        color: #0c1649;
    }

    .big tr:nth-child(4) > td:nth-child(2) {
        width: 100px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: large;
        color: #920808;
    }

    .big tr:nth-child(4) > td:nth-child(3) {
        width: 100px;
        font-weight: 500;
        font-size: large;
    }
    .big tr:nth-child(4) > td:nth-child(4) {
        width: 100px;
        font-weight: 500;
        font-size: large;
    }

.big tr:nth-child(6) {
    padding-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

input[type=submit], input[type=button]
{
    background-color:black;
    color:white;
    width:140px;
    height:45px;
    border-radius:5px;
    border:none;
}

input[type=submit]:hover, input[type=button]:hover
{
    background-color: #4e4c4c;
}

input[type=submit]:active, input[type=button]:active
{
    background-color: #7e7d7d;
}

#find 
{
    background-color: darkgrey;
    color: white;
    width: 140px;
    height:15px;
    border: 1px solid black;
}
#tit {
    font-weight: 700;
    text-transform: uppercase;
    font-size: x-large;
    text-align: center;
}
.carrello {
    width: 70%;
    float: left;
    margin-left: auto;
    border: solid 3px;
    margin-left: 20px;
    background-color: white;
}
    .carrello tr:nth-child(1) {
        text-align: center;
        font-size: large;
    }

.carrello tr:not(:first-child)
{
    font-size: medium;
    text-align: center;

}
    .carrello td:not(:first-child) {
        font-size: medium;
        text-align: center;
    }

    .carrello td:nth-child(1) {
        width: 100px;
    }
    .carrello td:nth-child(2) {
        width: 400px;
    }
    .carrello td
    {
        width:200px;
    }
.carrello td:nth-child(5)
{
    width:600px;
}
.form
{
    text-align: center;
    border:solid 3px;
    background-color: white;
    width: 20%;
    font-size: large;
    margin-left: 40%;
}
.totale{
    float:left;
    margin-left:40px;
}
fieldset
{
    border:none;
}

#desc
{
    float:left;
    margin-left:100px;
    margin-top:100px;
}