body {
    background-color: lightgrey;
    font-family:Constantia;
}

.header {
    margin-top: 20px;
    height: 50px;
    background-color: none;
}

.main {
    background-color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    height: 40px;
    color: whitesmoke;
    background-color: #404040;
    width: 99%;
}

ul > li > ul a {
    color: white;
    text-align: left;
}

table {
    border: 1px solid black;
    width: 400px;
    float: left;
    margin-left: 20px;
    background-color: white;
}

h1 {
    text-align: center;
}

tr:nth-child(1) {
    text-align: center;
}

tr:nth-child(2) {
    font-weight: 700;
    text-transform: uppercase;
    font-size: x-large;
    text-align: center;
}
.linkprod:link 
{
    color:black;
}
.linkprod:visited 
{
    color: #404040;
}

tr:nth-child(3) {
    font-weight: 500;
    text-transform: capitalize;
    color: #404040;
    text-align: center;
}

tr:nth-child(4) {
    text-align: center;
}

    tr:nth-child(4) > td:nth-child(1) {
        width: 100px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: large;
        color: #0c1649;
    }

    tr:nth-child(4) > td:nth-child(2) {
        width: 100px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: large;
        color: #920808;
    }

    tr:nth-child(4) > td:nth-child(3) {
        width: 100px;
        font-weight: 500;
        font-size: large;
    }
    tr:nth-child(4) > td:nth-child(4) {
        width: 100px;
        font-weight: 500;
        font-size: large;
    }

tr:nth-child(6) {
    padding-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

input[type=submit]
{
    background-color:black;
    color:white;
    width:140px;
    height:45px;
    border-radius:5px;
    border:none;
}

#find 
{
    background-color: darkgrey;
    color: white;
    width: 140px;
    height:15px;
    border: 1px solid black;
}
#tit {
    font-weight: 700;
    text-transform: uppercase;
    font-size: x-large;
    text-align: center;
}
#carrello 
{
    border: 1px solid black;
    width: 800px;
    margin-left: 20px;
    background-color: white;
}
    #carrello >tr:nth-child(1) {
        text-align: center;
    }

#carrello > tr:nth-child(2) 
{
    font-size: small;
    text-align: center;
} 