@using School.Model

<!-- NAVBAR! USA REDIRECT da index a list -->

<ul id="menu">
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("Prodotti", "Index", "Prodotto")
    </li>
    <li>
        @Html.ActionLink("Ordini", "Index", "Ordine")
    </li>
    <li>
        Carrello
    </li>
    <li>
        @Html.ActionLink("Login", "Login", "Home")
    </li>
    <li>
        Logout
    </li>
    <li>
        <!-- Altro modo di usare form: non passa la prima volta dal controller e puo' chiamare il controller che vuole -->
        <!-- Passa parametri alla action: Controller ha un metodo (Find) che accetta tanti parametri quanti gli input type-->
        @using (Html.BeginForm("Find", "Prodotto", FormMethod.Post))
        {
            <fieldset>
                <input type="text" name="input" id="input"/>

                <input type="submit" value="Cerca fra i prodotti" />
            </fieldset>
        }
    </li>
</ul>

<script>
    $("#menu").kendoMenu();
</script>