<!-- NAVBAR! USA REDIRECT da index a list -->

<ul id="menu">
    <li>
        @Html.ActionLink("Prodotti", "Index", "Prodotto")
    </li>
    <li>
        @Html.ActionLink("Ordini", "Index", "Ordine")
    </li>
    <li>
        @Html.ActionLink("Utenti", "Index", "Utente")
    </li>
</ul>

<script>
    $("#menu").kendoMenu();
</script>