@{
    ViewBag.Title = "HOME PAGE";
    Layout = "_LayoutEmpty";
}

<div class="container">
    <div class="nav">
        <span>Carrello</span>
        <span>Barra di ricerca</span>
        <span>Home</span>
    </div>

    <div class="header">
        <h2>HOME PAGE</h2>
    </div>

    <div class="main">
        <h3>Elenco top 10 ordini</h3>
        ...
    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>