@using appwebProgetto.Models
@using System.Collections.Generic

@{
    ViewBag.Title = "HOME PAGE";
    Layout = "_LayoutEmpty";
}

@model IEnumerable<Utente>

<div class="container">
    <div class="nav">
        <span>Carrello</span>
        <span>Barra di ricerca</span>
        <span>Home</span>
    </div>

    <div class="header">
        <h2>HOME PAGE</h2>
    </div>

    <div class="main">
        <h3>Elenco top 10 ordini</h3>

        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>username</td>
                        <td>password</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>