<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css"> 
    <link rel="shortcut icon" href="~/img/favicon.ico" />
    <link href="~/styles/layout.css?v=1" rel="stylesheet" />

    <!-- jQuery JavaScript -->
    <script src="~/js/jquery.min.js"></script>

    <!-- Dropdown Button JavaScript -->
    <script src="~/js/dropdown.js"></script>

    <!-- Kendo UI combined JavaScript -->
    <script src="~/js/kendo.all.min.js"></script>
</head>
<body>
    <div class="menuhead">
        @RenderSection("Top", required: false)
    </div>
    @RenderBody()
</body>
</html>